.gamefield{
  position: relative;
  height: 705px;
  width: 705px;
  background-color: #fff;
  border: solid black 3px;
  float: left;
  margin-left: 3%;
  margin-top: 3%;
  background-image: url("../images/hintergrundGamefield.jpg") !important;
  background-repeat: no-repeat;
  background-position: -473px -186px !important;
}

.dragme{
  position: relative;
}
.eckFeld{
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.karteObenUnten{
  position: absolute;
  left: 17%;
  top: 40%;
}

.karteLinksRechts{
  position: absolute;
  left: 30%;
  top: 30%;
}

.ereigniskarteObenUnten{
  position: absolute;
  left: 17%;
  top: 40%;
}

.ereigniskarteLinksRechts{
  position: absolute;
  left: 30%;
  top: 30%;
}

.hover-content{
  display: none;
}

#LeftTop{
  position: absolute;
  top: -0px;
  left: -0px;
  height: 150px;
  width: 150px;
  border: solid black 2px;
}
#RightTop{
position: absolute;
top: 0px;
left: 550px;
width: 150px;
height: 150px;
border: 2px solid black;
}

#RightBottom{
  position: absolute;
  height: 150px;
  width: 150px;
  border: solid black 2px;
  bottom: 0px;
  right:  0px;
}

#LeftBottom{
  height: 150px;
  width: 150px;
  position: absolute;
  border: solid black 2px;
  bottom: 0px;
  left:  0px;

}

/*TOP*/
#TOP1{
  height: 150px;
  width: 80px;
  position: absolute;
  border: solid black 2px;
  top: -0px;
  left: 150px;
}

#TOP1:hover .hover-content{
  display:block;
}

#TOP2{
  height: 150px;
  width: 80px;
  position: absolute;
  border: solid black 2px;
  top: 0px;
  left: 230px;
}

#TOP3{
  height: 150px;
  width: 80px;
  position: absolute;
  border: solid black 2px;
  top: 0px;
  left: 310px;
}

#TOP4{
  height: 150px;
  width: 80px;
  position: absolute;
  border: solid black 2px;
  top: 0px;
  left: 390px;
}

#TOP5{
  height: 150px;
  width: 80px;
  position: absolute;
  border: solid black 2px;
  top: 0px;
  left: 470px;
}

/*LEFT*/
#LEFT1{
  height: 80px;
  width: 150px;
  position: absolute;
  border: solid black 2px;
  top: 150px;
  left: 0px;
}

#LEFT2{
  height: 80px;
  width: 150px;
  position: absolute;
  border: solid black 2px;
  top: 230px;
  left: -0px;
}

#LEFT3{
  height: 80px;
  width: 150px;
  position: absolute;
  border: solid black 2px;
  top: 310px;
  left: 0px;
}

#LEFT4{
  height: 80px;
  width: 150px;
  position: absolute;
  border: solid black 2px;
  top: 390px;
  left: 0px;
}

#LEFT5{
  height: 80px;
  width: 150px;
  position: absolute;
  border: solid black 2px;
  top: 470px;
  left: 0px;
}

/*BOTTOM*/
#BOTTOM1{
  height: 150px;
  width: 80px;
  position: absolute;
  border: solid black 2px;
  bottom: 0px;
    left: 150px;
}

#BOTTOM2{
  height: 150px;
  width: 80px;
  position: absolute;
  border: solid black 2px;
  bottom: 0px;
  left: 230px;
}

#BOTTOM3{
  height: 150px;
  width: 80px;
  position: absolute;
  border: solid black 2px;
  bottom: 0px;
  left: 310px;
}

#BOTTOM4{
  height: 150px;
  width: 80px;
  position: absolute;
  border: solid black 2px;
  bottom: 0px;
  left: 390px;
}

#BOTTOM5{
  height: 150px;
  width: 80px;
  position: absolute;
  border: solid black 2px;
  bottom: 0px;
  left: 470px;
}
  /*right*/
  #RIGHT1{
    height: 80px;
    width: 150px;
    position: absolute;
    border: solid black 2px;
    top: 150px;
    right:   0;
  }

  #RIGHT2{
    height: 80px;
    width: 150px;
    position: absolute;
    border: solid black 2px;
    top: 230px;
    right:   0;
  }

  #RIGHT3{
    height: 80px;
    width: 150px;
    position: absolute;
    border: solid black 2px;
    top: 310px;
    right:   0;
  }

  #RIGHT4{
    height: 80px;
    width: 150px;
    position: absolute;
    border: solid black 2px;
    top: 390px;
  right:   0;
  }

  #RIGHT5{
    height: 80px;
    width: 150px;
    position: absolute;
    border: solid black 2px;
    top: 470px;
  right:  0;
  }
