#informationen{
  position: relative;
  float: left;
  height: 600px;
  width: 800px;
  margin-left: 3%;
  margin-top: 3%;
}


body{
 background-image: url("../images/hintergrund.jpg") !important;
 background-position: bottom !important;
}


#spielerInfo {
  clear: left;
  background-color: #FFFDBF;
  float: left;
  margin-left: 3%;
  margin-top: 5%;
}

#wuerfeln {
  margin-left: 3%;
  margin-top: 3%;
  float: left;
}


#konsole {
  clear: left;
  left: 70%;
  height: 40px;
  width: 50%;
  margin: auto;
  border: 2px solid black;
  background-color: #FFFDBF ;
  float: left;
  text-align: center;
  margin-left: 3%;
  margin-top: 3%;
}


#menue{
  height: 50px;
  width: 30%;
  float: left;
  padding: 5px 5px;
  margin-left: 3%;
  margin-top: 3%;
}

#startButton {
  display: none;
}

#spiel {
  display: none;
}

.beschriftung{
  text-align: center;
  margin-top: 40%;
  color:black;
  font-family: serif;
  font-size: 16px;
}

.beschriftungEckfelder{
  text-align: center;
  color:black;
  font-family: serif;
  font-size: 16px;
}

#tabelleDesgin{
    border: solid black 4px;
}

#schriftzug{
  text-align: center;
  margin-top: 20%;
  color: #2E779B;
  font-family: serif;
  font-size: 40px;
}

#kartenInfo{
    height: 350px;
    width: auto;

}

#UberschriftKartenInfo{
  text-align: center;
 font-size: 20px;
}

